---
import Card from "../components/card.astro";
import Chip from "../components/chip.astro";

type Link = { link: string; desc: string; icon: string };
type Icon = { link: string; icon: string };

// Put all your links here
const links: Link[] = [
  {
    desc: "The RED Method", // The text that will be rendered
    link: "redrhino.online", // The link
    icon: "fa-solid fa-sack-dollar", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  },
  // {
  //   desc: "561-123-1234",
  //   link: "tel://5611231234",
  //   icon: "fa-solid fa-phone",
  // },
];

const icons: Icon[] = [
  {
    link: "youtube.com/@the.red.method",
    icon: "fa-brands fa-youtube",
  },
];

const extraContent: String = "";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Harold Sobers Contact and Links" />
    <meta name="author" content="Harold Sobers" />
    <meta property="og:title" content="Harold Sobers" />
    <meta property="og:image" content="favicon.png" />
    <meta property="og:description" content="Linktree of Harold Sobers" />
    <meta property="twitter:description" content="Linktree of Harold Sobers" />
    <meta property="twitter:title" content="Harold Sobers" />
    <meta property="twitter:image" content="favicon.png" />
    <meta name="twitter:card" content="summary" />
    <!-- <meta name="twitter:site" content="@BremNeville" /> -->
    <title>Harold Sobers | Contact and Links</title>
    <style>
      @font-face {
        font-family: Geist;
        src: url(/Geist.ttf);
        font-display: swap;
      }
    </style>
  </head>
  <body
    class="bg-[#1e1e1e] flex justify-center items-center w-screen h-screen font-[Geist] text-white"
  >
    <main class="w-[80%] flex flex-col gap-8">
      <h1 class="md:text-6xl text-4xl font-black text-center">Harold Sobers</h1>
      <div class="grid justify-center gap-4">
        {
          links.map(({ desc, link, icon }) => {
            return <Card {desc} {link} {icon} />;
          })
        }
      </div>
      <div class="flex justify-center gap-8">
        <!-- Put some social links who have a definitive icon here: -->
        {
          icons.map(({ link, icon }) => {
            return <Chip link={link} icon={icon} />;
          })
        }
      </div>
      <p class="text-center mx-auto">{extraContent}</p>
    </main>
  </body>
</html>
